html{
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aliceblue;
}

body{
    width: 800px;
    margin: auto;
    border: 2px solid black;
    background-color: cornflowerblue;
}

img[id]{
    display: block;
    margin: 0 auto;
    width: 300px;
}
.listedit{
    margin: 100px;
    background-color: coral;
    border: 2px solid black;
    text-align: center;
}

a{
    display: block;
    text-align: center;
}
button{
    display: block;
    margin: auto;
    background-color:  coral;
}

h1,
H1{
    text-align: center;
    font-size: large;
    color: brown;
}